.container {
  margin: 0 auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  text-align: center;
  width: 470px;
  min-height: 795px;
  height: auto !important;
  color: black;
  font-family: HelveticaNeue-Thin;
}

li {
  list-style-type: none;
}

.cities-added-list {
  text-align: justify;
}

.full-details {
  padding-bottom: 15px;
  border-top-width: 1px;
  border-top-style: solid;
  position: relative;
  right: 20px;
  text-align: center;
  top: 25px;
}

.city-name-full-details {
  font-size: 18px;
  position: relative;
  top: 5px;
}

.current-temperature-full-details {
  font-size: 40px;
  position: relative;
  bottom: 20px;
}

.only-today-details {
  padding: 15px;
  border-top-width: 1px;
  border-top-style: solid;
  position: relative;
  right: 20px;
  top: 25px;
}

.city-name {
  font-size: 20px;
  display: inline;
  position: relative;
  left: 30px;
}

.current-temperature {
  font-size: 35px;
  display: inline;
  position: absolute;
  left: 308px;
  bottom: -29px;
}

.five-days-weather-forecast {
  position: relative;
  bottom: 25px;
  font-size: 15px;
}

.week-day {
  position: absolute;
  left: 30px;
}

.weather-description-for-day {
  position: relative;
  right: 15px;
}

.temperature-for-day {
  position: absolute;
  right: 33px;
}

.error-message {
  position: relative;
  right: 42px;
  font-size: 13px;
  font-style: italic;
  padding-top: 5px;
  color: red;
}

.add-city-button {
  box-shadow: 5px 4px 11px grey;
}

.add-city-button:hover {
  cursor: pointer;
}

.full-details:hover {
  cursor: pointer;
}

.only-today-details:hover {
  cursor: pointer;
}
